@model eShopSolution.ViewModels.System.Users.UserDeleteRequest

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>
<hr/>
<h3>Are you sure you want to delete this?</h3>
<div style="margin-left:3px">

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <button asp-action="Index" class="btn btn-primary">Cancel</button>
    </form>
</div>